---
name: ♻️ Super Linter

on:
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  super-linter:
    name: Super Linter
    permissions:
      contents: read
      packages: read
      statuses: write
    uses: ministryofjustice/analytical-platform-github-actions/.github/workflows/reusable-super-linter.yml@e739d722e6ccda879251f1d08145236fab08209a # v5.4.0
    with:
      super-linter-variables: |
        {
          "VALIDATE_CSS": false,
          "VALIDATE_TRIVY": false
        }
