---
name: ♻️ Dependency Review

on:
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  dependency-review:
    name: Dependency Review
    permissions:
      contents: read
      pull-requests: write
    uses: ministryofjustice/analytical-platform-github-actions/.github/workflows/reusable-dependency-review.yml@2ab174150aeb0a6003afd1c0b4316698720b3b6b # v5.5.0
