---
name: ♻️ Test

on:
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  container-structure-test:
    name: Container Structure Test
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Set Up Container Structure Test
        id: setup_container_structure_test
        uses: ministryofjustice/action-setup-container-structure-test@d0636fa19d04c3fc71c30ae4eb8da03be63dbd4b # 1.0.0

      - name: Container Structure Test
        id: container_structure_test
        shell: bash
        env:
          IMAGE_TAG: ${{ github.sha }}
        run: |
          make test

  package:
    name: Package
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Package
        id: package
        shell: bash
        env:
          IMAGE_TAG: ${{ github.sha }}
        run: |
          make package
