---
name: ♻️ Container Test

on:
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  container-test:
    name: Container Test
    permissions:
      contents: read
    uses: ministryofjustice/analytical-platform-github-actions/.github/workflows/reusable-container-test.yml@72a6b41dd6f2ccce15aa70b0e42178f6f5583018 # v5.3.0
