---
name: ♻️ Super Linter

on:
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  super-linter:
    name: Super Linter
    permissions:
      contents: read
      packages: read
      statuses: write
    uses: ministryofjustice/analytical-platform-github-actions/.github/workflows/reusable-super-linter.yml@72a6b41dd6f2ccce15aa70b0e42178f6f5583018 # v5.3.0
    with:
      super-linter-variables: |
        {
          "VALIDATE_CSS": false,
          "VALIDATE_TRIVY": false
        }
