---
name: ♻️ Container Test

on:
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  container-test:
    name: Container Test
    permissions:
      contents: read
    uses: ministryofjustice/analytical-platform-github-actions/.github/workflows/reusable-container-test.yml@2ab174150aeb0a6003afd1c0b4316698720b3b6b # v5.5.0
